body, html{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}

form{
  display: grid;
  row-gap: 3px;
  width: 500px;
}
input{
  border-radius: 2px;
  height: 33px;
  border: none ; ;  
  padding: 5px;
  width: 250px;
  background-color: whitesmoke;
  margin-left: 120px;
  font-size: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.speak1, .speak2{
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.speak2{
  font-size: 70px;
  margin-bottom: 20px;
  text-align: center;
}

.already{
  color: blackviolet;
  margin: 5px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.line{
  height: 90%;
  width: 1.5px;
  background-color: black;
  margin-left: 670px;
  position: absolute;
  top: 30px;
  left:  0px;
  right: 0px;
}
.formtab{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color:white ;
  height: 500px;
  margin-top: 60px;
  border: none ;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.signupbtn{
  height: 33px;
  width: 60%;
  background-color: #000000;
  border: solid 1px black ;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  position: relative;
  left: 100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  ;
  
}
.logsign{
  margin-top: 10px;
  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.loginbtn{
  height: 33px;
  width: 30%;
  background-color: #000000;
  border: solid 1px black ;
  color: white;
  margin-top: 2.5px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.logloginbtn{
  height: 33px;
  width: 60%;
  background-color: #000000;
  border: solid 1px black ;
  color: white;
  margin-top:5px;
  cursor: pointer;
  position: relative;
  left: 100px;
  border-radius: 15px;
  border: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
}
span{
  font-size: 12px;
  font-family: cormorant
}
.curved-background {
  height: 400px;
  background: linear-gradient(720deg, #6a11cb, #fc2525);
  clip-path: ellipse(80% 100% at 50% 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}

