@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.fa-solid{
 position: absolute;
 left: 2%;
 top: 15%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: white;
  padding-right: 8%;
  padding-left: 8%;
  border-bottom: 1px solid rgb(184, 176, 176);
}
h1{
 width: 20px;
}
.category{
  border-color: #6f7a99;
  width: 132px;
  height: 25px;
  border-radius: 30px;
  background-color: #6f7a99;
  color: bisque;
  font-family:  'Inconsolata';
  position: relative;
  left: 15%;
}
.setprompt{
  border: solid 1px #6f7a99;
  width:125px ;
  height: 25px;
  border-radius: 30px;
  background-color: #6f7a99;
  color: rgb(252, 252, 252);
  padding-left: 5px;
  position: relative;
  left: 15%;

}
input::placeholder {
  color: rgb(255, 255, 255); /* Change to your desired color */
  font-family:  'Inconsolata';
  opacity: 1; /* Ensure full visibility in some browsers */
}

.setprompt-div{
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag{
  width: 17px;
  position: absolute;
  left: 98%;
}
.prompt{
 
  color: black;
  font-size: 40px;
}


.giftab{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gif{
  width:100%;
  border-radius: 25PX;
}
h2{
  width: 50px;
  color: rgb(0, 0, 0);
}
.advert{
  background-color: black;
  position: fixed;
  bottom: 0;
  height: 40px;
  z-index: 100;
  left: 0;
  right: 5%;
  left: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius:20px ;
}


.rightside{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.curved-background {
  height: 400px;
  background: linear-gradient(720deg, #6a11cb, #fc2525);
  clip-path: ellipse(80% 100% at 50% 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}
.speaker-div{
  position: relative;
  width: 100px;
  height: 100px;
   
  position: fixed;
  top: 70%;
  display: flex;
  justify-content: center;
  border-radius: 50%;

}
.phone{
  position: relative;
  bottom: 75%;
}
.speak-up{
  position: absolute;
  bottom: 10%;
  left: 30%;
  align-self: center;
 
}
svg {
  display: block;
  margin: 0 auto;
}

.prompt {
  fill: #5bdb34;
  font-family:  'Inconsolata';
  
}
.scndname{
  
  
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  color: #714eaa; /* Bright orange color */
  text-shadow: 4px 4px 0 #000, 8px 8px ; /* 3D cartoon effect */
  letter-spacing: 2px;
  transform: rotate(-3deg); /* Slight tilt for a fun effect */
  padding-left: 8px;

}
.backButton{
  position: absolute;
  top: 30px;
  
}
