body{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fa-solid{
 position: absolute;
 left: 2%;
 top: 15%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: white;
  padding-right: 8%;
  padding-left: 8%;
  border-bottom: 1px solid rgb(184, 176, 176);
}
h1{
 width: 20px;
}
.category{
  border: solid 1px black;
  width: 105px;
  height: 18px;
  border-radius: 30px;
}
.setprompt{
  border: solid 1px black;
  width:100px ;
  height: 18px;
  border-radius: 30px;
}
.setprompt-div{
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag{
  width: 20px;
  position: absolute;
  right: 2%;
}
.prompt{
 
  color: black;
  font-size: 40px;
}


.giftab{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gif{
  width:100%;
}
h2{
  width: 50px;
  color: rgb(0, 0, 0);
}
.advert{
  background-color: black;
  position: fixed;
  bottom: 0;
  height: 40px;
  z-index: 100;
  left: 0;
  right: 5%;
  left: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rightside{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.curved-background {
  height: 400px;
  background: linear-gradient(720deg, #6a11cb, #fc2525);
  clip-path: ellipse(80% 100% at 50% 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}
.speaker-div{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: grey; 
  position: fixed;
  top: 70%;
  display: flex;
  justify-content: center;
  border-radius: 50%;

}
.speak-up{
  position: absolute;
  bottom: 10%;
  left: 30%;
  align-self: center;
 
}
svg {
  display: block;
  margin: 0 auto;
}

.prompt {
  fill: #3498db;
}

